# For development - use relative
#VITE_API_URL=/api # stand alone container or while running the docker compose 

#for development - on mac (direct npm run dev)
VITE_API_URL=http://172.0.10.183:5000/api
VITE_ENABLE_REGISTER_ENDPOINT=true

# For production - use absolute  
# VITE_API_URL=https://yourdomain.com/api